body {
    width: 960px;
    margin: auto;
    background-color: #EEEEEE;
}

* {
    font-family: Helvetica;
    color: #373D3F;
}

#top_bar {
    height: 70px;
    width: 100%;
}

#logo {
    width: 47px;
    height: 50px;
    padding-top: 15px;
    padding-right: 5px;
}

#title {
    display: inline;
}

#login {
    display: inline;
    height: 100%;
    width: 100px;
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu {
    height: 40px;
    background-color: #6699CC;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu ul {
    padding: 0;
    padding-top: 10px;
    text-align: center;
}

#menu li {
    display: inline;
    padding: 25px;
    font-size: 18px;
}

#menu a {
    text-decoration: none;
    color: white;
}

.side_menu {
    width: 49%;
    height: 500px;
    background-color: white;
}

.menu_title {
    width: 100%;
    margin: 15px;
}

.menu_title_divided {
    height: 50px;
    width: 100%;
}

.menu_title_divided h2 {
    margin: 15px;
    float: left;
}

.menu_title_divided a {
    float: right;
    padding: 15px;
    text-decoration: none;
    font-size: 22px;
    color: #6699CC;
}

.full_menu {
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: white;
}

#popular_phones, #ios_devices{
    float: left;
}

#popular_tablets, #windows_phone_devices {
    float: right;
}

.side_menu ul, .full_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.side_menu li {
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
}


.device_icon {
    width: auto;
    height: 100%;
    vertical-align: text-top;
    float: left;
}

.device_info {
    float: right;
    display: inline;
    width: 74%;
    height: 100%;
}

.device_name_link {
    padding-top: 5px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: #6699CC;
    
}

.short_description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.star_icon {
    height: 20px;
    width: auto;
}

.user_icon {
    width: auto;
    height: 50%;
    vertical-align: text-top;
    float: left;
}

.device_info {
    float: right;
    display: inline;
    width: 74%;
    height: 100%;
}
