body {
    width: 960px;
    /*width: 90%;*/
    margin: auto;
    background-color: #EEEEEE;
}

* {
    font-family: Helvetica;
    color: #373D3F;
}

p {
    font-size: 14px;
}

time {
    font-size: 12px;
}

#top_bar {
    height: 70px;
    width: 100%;
}

#logo {
    width: 47px;
    height: 50px;
    padding-top: 15px;
    padding-right: 5px;
}

#title {
    display: inline;
}

#login {
    display: inline;
    height: 100%;
    width: 90px;
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style-type: none;
}

#login li {
    margin-top: 5px;
}

.login_element {
    text-decoration: none;
    font-size: 20px;
}

#menu {
    border-radius: 25px;
    height: 40px;
    background-color: #6699CC;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu ul {
    padding: 0;
    padding-top: 10px;
    text-align: center;
}

#menu li {
    display: inline;
    padding: 25px;
    font-size: 18px;
}

#menu a {
    text-decoration: none;
    color: white;
}

.side_menu {
    border-radius: 25px;
    width: 49%;
    height: 480px;
    background-color: white;
    margin-bottom: 20px;
}

.menu_title {
    width: 100%;
    margin: 15px;
}

.menu_title_divided {
    height: 50px;
    width: 100%;
}

.menu_title_divided h2 {
    margin: 15px;
    float: left;
}

.menu_title_divided a {
    float: right;
    padding: 15px;
    text-decoration: none;
    font-size: 22px;
    color: #6699CC;
}

.full_menu {
    border-radius: 25px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}

#popular_phones, #ios_devices{
    float: left;
}

#popular_tablets, #windows_phone_devices {
    float: right;
}

.side_menu ul, .full_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.side_menu li {
    margin-top: 15px;
    margin-left: 15px;
    height: 70px;
}


.device_icon {
    width: auto;
    height: 100%;
    vertical-align: text-top;
    float: left;
}

.device_info {
    float: right;
    display: inline;
    width: 82%;
    height: 100%;
}

.device_name_link {
    padding-top: 5px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #6699CC;
    
}

.short_description {
    margin-bottom: 4px;
    margin-top: 4px;
    width: 93%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.star_icon {
    height: 20px;
    width: auto;
}

.user_icon {
    width: auto;
    height: 50%;
    vertical-align: text-top;
    float: left;
}

.user_icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.topic_info {
    height: 40px;
    width: 100%;
}

.topic_head {
    color: #6699CC;
    margin-bottom: 4px;
    width: 90%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.heart_icon {
    height: 15px;
    width: auto;
}

.like_section {
    float: right;
    width: 75px;
}

.like_count {
    display: inline;
}

#discussion {
    height: 480px;
}

#android_devices {
    height: 290px;
}

.left_list {
    float: left;
    width: 50%;
    height: 100%;
}

.device_list {
    width: 50%;
    height: 100%;
}

.device_list li {
    padding: 10px;
}

#left_device_list {
    float: left;
}

#right_device_list {
    float: right;
}

.full_menu_devices {
    border-radius: 25px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}

.side_menu_devices {
    border-radius: 25px;
    width: 49%;
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
}

.side_menu_devices ul, .full_menu_devices ul {
    padding: 0;
    margin: 0;
}

.side_menu_devices li, .full_menu_devices li {
    margin-left: 30px;
    height: 20px;
}

.device_list a {
    color: #6699CC;
    font-size: 20px;
    text-decoration: none;
}

.device_icon_big {
    width: auto;
    height: 100%;
    vertical-align: text-top;
    float: left;
}

.full_menu_big {
    border-radius: 25px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}

.full_menu_big ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.full_menu_big li {
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
}

.device_icon_big {
    width: auto;
    height: 100%;
    vertical-align: text-top;
    float: left;
}

#just_released {
    height: 950px;
}

.device_info_big {
    float: left;
    display: inline;
    width: 25%;
    height: 100%;
}

.discussion_right {
    float: left;
    display: inline;
    width: 55%;
    height: 100%;
}

.discussion_right ul {
    padding: 0;
    list-style-type: none;
}

.rating_text {
    display: inline-block;  
    width: 100px;
    height: 5px;
    margin: 0;
    padding: 0;
}

.stars_group {
    display: inline; 
    width: 50%;
}

.discussion_right li {
    height: 25px;
}

#login_menu {
    height: 340px;
}

#register_menu {
    height: 880px;
}

.form {
    margin: 20px;
}

.form_field input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #6699CC;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}
