<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GadgetFreak</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="top_bar">
        <img id="logo" alt="Logo" src="{% static '/images/logo.png' %}">
        <h1 id="title">GadgetFreak</h1>
        <ul id="login">
            {% if user.is_authenticated %}
                <li><b><a href="/user/logout" class="login_element">Logout</a></b></li>
            {% else %}
                <li><b><a href="/user/login" class="login_element">Login</a></b></li>
                <li><b><a href="/user/register" class="login_element">Register</a></b></li>
            {% endif %}
        </ul>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/home" class="menu_link">Home</a></li>
            <li><a href="/devices/brands" class="menu_link">Brands</a></li>
            <li><a href="/devices/top-rated" class="menu_link">Top Rated</a></li>
            <li><a href="/devices/just-released" class="menu_link">Just Released</a></li>
            <li><a href="/devices/budget" class="menu_link">Budget</a></li>
        </ul>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>