{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GadgetFreak</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style_min.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="top_bar">
        <img id="logo" alt="Logo" src="{% static '/images/logo.png' %}">
        <h1 id="title">GadgetFreak</h1>
        <ul id="login">
            {% if user.is_authenticated %}
                <li><b><p id="login_name">{{ user.first_name }} {{ user.last_name }}</p></b></li>
                <li><b><a href="/user/logout/redirect{{ request.path }}" class="login_element">{% blocktrans %}Logout{% endblocktrans %}</a></b></li>
            {% else %}
                <li><b><a href="/user/login/redirect{{ request.path }}" class="login_element">{% blocktrans %}Login{% endblocktrans %}</a></b></li>
                <li><b><a href="{% url 'register' %}" class="login_element">{% blocktrans %}Register{% endblocktrans %}</a></b></li>
            {% endif %}
            <div id="language_list">
            {% get_available_languages as languages %} 
            {% for lang_code, lang_name in languages %} 
                {% language lang_code %} 
                <a href="{% url 'home' %}">{{ lang_name }}</a> 
                {% endlanguage %}
            {% endfor %}
            </div>
        </ul>

    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'home' %}" class="menu_link">{% blocktrans %}Home{% endblocktrans %}</a></li>
            <li><a href="{% url 'brands' %}" class="menu_link">{% blocktrans %}Brands{% endblocktrans %}</a></li>
            <li><a href="{% url 'top-rated' %}" class="menu_link">{% blocktrans %}Top Rated{% endblocktrans %}</a></li>
            <li><a href="{% url 'just-released' %}" class="menu_link">{% blocktrans %}Just Released{% endblocktrans %}</a></li>
            <li><a href="{% url 'budget' %}" class="menu_link">{% blocktrans %}Budget{% endblocktrans %}</a></li>
        </ul>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>