{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/stars.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="popular_phones" class="side_menu">
        <h2 class="menu_title">{% blocktrans %}Popular Phones{% endblocktrans %}</h2>
        <ul>
            {% for phone in popular_phones %}
                <li>
                    <img src="{% static '' %}images/{{ phone.image }}" alt="Phone" class="device_icon">
                    <div class="device_info">
                        <b><a href="{% url 'detail' phone.id %}" class="device_name_link">{{ phone.brand.name }} {{ phone.name }}</a></b>
                        <p class="short_description">{{ phone.description }}</p>
                        <div class="stars_group">
                            {{ phone.rating_score_rounded }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="popular_tablets" class="side_menu">
        <h2 class="menu_title">{% blocktrans %}Popular Tablets{% endblocktrans %}</h2>
        <ul>
            {% for tablet in popular_tablets %}
                <li>
                    <img src="{% static '' %}images/{{ tablet.image }}" alt="Tablet" class="device_icon">
                    <div class="device_info">
                        <b><a href="{% url 'detail' tablet.id %}" class="device_name_link">{{ tablet.brand.name }} {{ tablet.name }}</a></b>
                        <p class="short_description">{{ tablet.description }}</p>
                        <div class="stars_group">
                            {{ tablet.rating_score_rounded }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="discussion" class="full_menu">
        <div class="menu_title_divided">
            <h2 id="discussion_h">{% blocktrans %}Discussion{% endblocktrans %}</h2>
            <b><a href="{% url 'new_topic' %}" class="discussion_link">{% blocktrans %}+ New topic{% endblocktrans %}</a></b>
        </div>
        <ul>
            {% for topic in topics %}
                <li>
                    <div class="topic_info">
                        <b><a href="{% url 'topic' topic.id %}" class="topic_head">{{ topic.body }}</a></b>
                        <time class="topic_date">{{ topic.date }}</time>
                        <div class="like_section">
                            <img src="{% static 'images/heart.png' %}" alt="Heart" class="heart_icon">
                            <p class="like_count">{{ topic.hearts }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    <b><a href="{{ request.path }}show-more" id="show_more" class="topic_head">{% blocktrans %}Show more{% endblocktrans %}</a></b>
    </div>
{% endblock %}