{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
   <div id="login_menu" class="full_menu">
    	<h1 class="menu_title">{% blocktrans %}Login{% endblocktrans %}</h1>
        <p id="user_warning">{{ warning }}</p>
    	<form id="login_form" class="form" action="" method="post" enctype="multipart/form-data" autocomplete="on">
    		{% csrf_token %}
            {% include 'users_app/form_template.html' %}
            <div class="form_field">
                <Button type="submit" id="submit_button">{% blocktrans %}Submit{% endblocktrans %}</Button>
			</div>
    		<p>  
    			{% blocktrans %}Don't have an account?{% endblocktrans %}
    			<a href="/user/register">{% blocktrans %}Go and register{% endblocktrans %}</a>
    		</p>
		</form>
	</div>
{% endblock %}