{% extends 'home/base.html' %}
{% load staticfiles %}

{% block body %}
   <div id="register_menu" class="full_menu">
		<h1 class="menu_title">Register</h1>
        <p id="user_warning">{{ warning }}</p>
		<form id="register_form" class="form" action="" method="post" enctype="multipart/form-data" autocomplete="on">
			{% csrf_token %}
            {% include 'users_app/form_template.html' %}
            <div class="form_field">
                <Button type="submit" id="submit_button">Submit</Button>
			</div>
			<p>
				Already a member?
				<a href="/user/login">Go and login</a>
			</p>
		</form>
	</div>
{% endblock %}